[submodule "Miosix Kernel"]
	path = code/libs/miosix-kernel
	url = https://github.com/NidasioAlberto/miosix-kernel.git
[submodule "Fixed-Point Math"]
	path = code/libs/fpm
	url = https://github.com/MikeLankamp/fpm.git
