**/*.aux
**/*.log
**/*.out

# Exclude doxygen
miosix/_doc/doxygen/html/*

# Exclude temporary files
*.elf
*.bin
*.hex
*.map
*.asm
*.o
*.a
*.d

# Exclude Mac OS X temporary
.DS_Store

# VS-Code Cortex Debug extension
**/.cortex-debug**

# KiCad

## Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

## Netlist files (exported from Eeschema)
*.net

## Autorouter files (exported from Pcbnew)
*.dsn
*.ses

## Exported BOM files
*.xml
*.csv
Footer
